h1 {
  color: #fff;
  background-color: rgb(49, 131, 110);
  text-align: center;
  padding: 1rem;
  margin: 0;
}

.container-fluid {
  padding: 10px 0;
  background-color: rgb(49, 131, 110, 0.15);
}

nav {
  text-transform: uppercase;
  width: 80%;
  margin: 0 auto;
}

nav > div:hover {
  cursor: pointer;
  font-weight: 700;
}

div.active {
  color: rgb(49, 131, 110);
  font-weight: 700;
}

.sub-active {
  color: rgb(49, 131, 110);
}
