<h2 class="mt-5">Projet : Todos per User - Formation CDA</h2>

<h3 class="mt-5">Instructions</h3>
<p>
  Vous devez créer une application permettant de gérer plusieurs utilisateurs.
  Chacun aura sa propre liste de tâche.
</p>

<h3 class="mt-5">CONTRAINTES:</h3>
<ul>
  <li>
    Au niveau de l'interface graphique, il faudra pouvoir sélectionner un
    utilisateur: ses tâches seront alors accessibles
  </li>
  <li>Une tâche pourra être créée/catégorisée/faite/supprimée</li>
  <li>
    Les tâches devront être affichée en 2 blocs: les taches à faire et faites
  </li>
  <li>
    Un filtre permettra d'afficher uniquement les tâches d'une même catégorie
  </li>
  <li>Les tâches devront être persistantes</li>
</ul>
