tr {
  vertical-align: middle;
}

.hiddenRow,
.accordion-body {
  padding: 0 !important;
}

ul {
  list-style: none;
}

.todolists {
  display: grid;
  grid-template-columns: max-content max-content;
  gap: 15px;
  padding: 10px 30px;
  text-align: start;
}

p.d-inline-block {
 vertical-align: middle; 
}