<table class="table table-dark table-striped table-hover text-center">
  <thead>
    <tr>
      <th>ID</th>
      <th>Prénom</th>
      <th>Nom</th>
      <th>Email</th>
      <th>Actions</th>
    </tr>
  </thead>
  <tbody *ngFor="let user of users" class="users">
    <tr
      data-toggle="collapse"
      class="accordion-toggle collapsed"
      aria-expanded="false"
      [attr.data-target]="'#tr-' + user.id"
    >
      <td>{{ user.id }}</td>
      <td>{{ user.firstname }}</td>
      <td>{{ user.lastname }}</td>
      <td>{{ user.email }}</td>
      <td>
        <button (click)="clickEdit(user.id)" class="btn text-info">
          <i class="bi bi-pencil"></i>
        </button>
        <button class="btn text-success">
          <i class="bi bi-plus-square"></i>
        </button>
        <button (click)="deleteUser(user.id)" class="btn text-danger">
          <i class="bi bi-x-lg"></i>
        </button>
        <button (click)="clickUser(user)" class="btn text-warning">
          <i class="bi bi-arrow-right-square"></i>
        </button>
      </td>
    </tr>
    <tr>
      <td class="hiddenRow" colspan="5">
        <div
          class="accordion-body collapse"
          [id]="'tr-' + user.id"
          aria-expanded="false"
          *ngIf="user.todos"
        >
          <div class="todolists" *ngIf="user.todos?.length">
            <div>
              <p class="text-danger h4 d-inline-block">
                À faire
                <button (click)="addTodo(user)" class="btn text-success d-inline-block">
                  <i class="bi bi-plus-square"></i>
                </button>
              </p>
              <div class="todos" *ngFor="let todo of user.todos">
                <div *ngIf="!todo.isDone">
                  <app-todo-item [todo]="todo"></app-todo-item>
                </div>
              </div>
            </div>
            <div>
              <p class="text-success h4">Fait</p>
              <div class="done" *ngFor="let todo of user.todos">
                <div *ngIf="todo.isDone">
                  <app-todo-item [todo]="todo"></app-todo-item>
                </div>
              </div>
              <!-- .done -->
            </div>
          </div>
        </div>
        <!-- .accordion-body -->
      </td>
    </tr>
  </tbody>
</table>
